<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBszXxedjPMsHidpeJDNrJpOr6AWPRetrc</string>
	<key>GCM_SENDER_ID</key>
	<string>711427991997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>snehatyagi.Quantum-IT-Project</string>
	<key>PROJECT_ID</key>
	<string>quantum-it-e7b37</string>
	<key>STORAGE_BUCKET</key>
	<string>quantum-it-e7b37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711427991997:ios:39c7d3bb57ef0ac26e8ad4</string>
</dict>
</plist>